
<%- include("header")-%>

    <div class="logout-div">
        <a type="submit" href="/logout">Logout</a>
    </div>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">

        <% for (var i=0;i<newListItems.length;i++){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkBox" value="<%=newListItems[i]._id%>" onchange="this.form.submit()">
                    <p>
                        <%= newListItems[i].name %>
                    </p>
                    <input type="hidden" name="listName" value="<%=listTitle%>"> </input>
                </div>
            </form>
            
            <%} %>

                <form class="item" action="/todolist" method="post">
                    <input type="text" name="itemName" placeholder="New Item" autocomplete="off">
                    <button class="submit-btn" type="submit" name="list", value="<%=listTitle%>">+</button>
                </form>
    </div>

    <%- include("footer")-%>